#vendedorAdd .formulario{
    height: 850px;
}
#vendedorAdd .formulario form{
    width: 70%;
    padding-top: 20px;
}
#vendedorAdd .formulario form fieldset{
    margin-top: 20px;
    width: 100%;
}
#vendedorAdd .formulario form fieldset label{
    height: 15px;
    width: 50%;
}
#vendedorAdd .formulario form fieldset label input{
    height: 15px;
    width: 15px;
}
#vendedorAdd .formulario form input[type="number"],input[type="text"],input[type="password"],#lugar{
    width: 100%;
    height: 30px;
}
#vendedorAdd table{
    margin-top: 20px;
    width: 100%;
}
#vendedorAdd #vigencia th{
    width: 33%;
}
#vendedorAdd #impresion th{
    width: 25%;
}
#vendedorAdd select{
    width: 100%;
    height: 30px;
}