@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
    font-family: 'Open Sans', sans-serif;;
}
:root {
    --fondoMenu: #1D2425;
    --fondoContenido: #fff;
    --colorBotonesBase: #1D2425;
    --colorBordeBotonesBase: #B5B8BC;
    --colorBordeBotonesHover: #0DC88D;
    --colorLetrasBotones: #B5B8BC;
    --headerContenido: #5CCADF;
    --colorLetraHeaderContenido: #fff;
    --formulario: #fff;
  }
body {
    margin:0;
    padding:0
  }

.contenedor{
    display:inline-block;
    width: 100%;
    height: 100%;
 }
 .main{
    display: flex;
    height: 60px;
    width: 100%;
    margin: auto;
    background-color: #EAF0F0;
}
 .menu{
    position: fixed;
    height: 1000px;
    float: left;
    background-color: var(--fondoMenu);
    font-family: arial;
    width: 19% !important;
}


#contenido{
    width: 81% !important;
    height: 2200px;
    float:right;
    background-color: var(--fondoContenido);
}
.botones{
    float: none;
    margin-top: 60px;
}
.btn{
    /*background-color:var(--colorBotonesBase);*/
    color:var(--colorLetrasBotones);
    display:flex;
    margin-left: 8%;
    width: 90%;
    height: 33px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--colorBordeBotonesBase);
    border-radius: 20px 0px 0px 20px;
}
.btn:hover{
    color: var(--colorBordeBotonesHover);
    border-color: var(--colorBordeBotonesHover);
    /*background-color: var(--colorLetrasBotones);*/
    cursor: pointer;
    display: flex;
}
.botones .padre{
    margin-top:20px;
    display: flex;
}
.botones .hijo{
    margin-top:5px;
    margin-left: 29%;
    width: 70%;
}
.logo{
    margin-top: 5%;
    width: 100%;
}
.logo img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 60px;
    height: 60px;
}
.botones img{
    margin-top:5px;
    margin-left: 10px;
    width: 24px;
    height: 24px;
}
h4{
    margin-top: 8px;
    margin-left: 7%;
    text-align: center;
}
.botones .hijo h4{
    color: var(--fondoContenido);
}
.botones .hijo h4:hover{
    color: var(--colorBordeBotonesHover);
}
button{
    cursor: pointer;
}
@media screen and (max-width: 1126px)   {
    #mySidebar{
        width:19% !important;
        /*float:none;*/
    }
    #contenido{
        width:81% !important;
    }
}
@media screen and (max-width: 1125px)   {
    #mySidebar{
        width:27% !important;
        /*float:none;*/
    }
    #contenido{
        width:73% !important;
    }
}
@media screen and (max-width: 935px)   {
    #mySidebar{
        width:30% !important;
        /*float:none;*/
    }
    #contenido{
        width:70% !important;
    }
}
@media screen and (max-width: 901px)   {
    #mySidebar{
        width:30% !important;
    }
    #contenido .formulario form{
        padding-left: 15 !important;
        width: 70% !important;
    }
    #contenido{
        width:70% !important;
    }

}
@media screen and (max-width: 900px)   {
   #mySidebar{
    width: 0px !important; /* 0 width - change this with JavaScript */
    z-index: 1 !important; /* Stay on top */
    left: 0 !important;
    overflow-x: hidden !important; /* Disable horizontal scroll */
    transition: 0.5s !important; /* 0.5 second transition effect to slide in the sidebar */
   }
    #contenido .formulario form{
        padding-left: 0px !important;
        width: 100% !important;
    }
    #contenido{
        width:100% !important;
    }
    .openbtn{
      display: block !important;
    }
    .closebtn{
      display: block !important;
    }
}

#mySidebar.show{
    width:300px !important;
}
#mySidebar.noshow{
    width:0px !important;
}
