#vendedorList .formulario{
    height: 660;
}
#vendedorList .formulario form{
    width: 90%;
    padding-left: 5%;
    padding-top: 20px;
}
#vendedorList .scroll{/*agrego*/
    width:100%;
    height:400px;

    /*margin-top: 40px;*/
  }
#vendedorList table{
    width: 100%;
    border: #EFF5F5 2px solid;
}
#vendedorList .formulario form table th,td{
    height: 35px;
}
#vendedorList .formulario form table td:nth-child(1){
    width: 28% !important;
}
#vendedorList .formulario form table td:nth-child(2){
    width: 10% !important;
}
#vendedorList .formulario form table td:nth-child(3){
    width: 18% !important;
}
#vendedorList .formulario form table td:nth-child(4){
    width: 12% !important;
}
#vendedorList .formulario form table td:nth-child(5){
    width: 8% !important;
}
#vendedorList .formulario form table td:nth-child(6){
    width: 24% !important;
}
#vendedorList .formulario form table button{
    margin-top: 2px;
    width: 32%;
    height: 30px;
}
#vendedorList .scroll/*agrego*/ tr:nth-child(odd) {
    background-color: #EFF5F5;
}
@media screen and (max-width: 1400px)   {
  #vendedorList table{
    width: 1200px;
  }
}
